.checkbox_service {
  align-self: baseline;
  :global {
    .ant-checkbox-wrapper {
      .ant-checkbox {
        .ant-checkbox-inner {
          width: 24px;
          height: 24px;
          border-radius: 100%;
        }
        .ant-checkbox-inner::after {
          top: 25px;
          bottom: 0;
          left: 0;
          margin: auto auto;
          right: 0;
          width: 18px;
          height: 18px;
          border-radius: 100%;
          border: 3px solid #fff;
          border-top: 1;
          border-inline-start: 1;
        }
      }
    }
  }
}
