@import "../../app/variables";

.services {
  .edit_drawer {
    :global {
      .ant-drawer {
        .ant-drawer-content {
          height: 277px !important;
          .ant-drawer-header {
            .ant-drawer-title {
              flex-direction: column;
              align-items: flex-start;
            }
            .ant-drawer-close {
              align-self: start;
            }
          }
        }
        .ant-drawer-content-wrapper {
          height: 277px !important;
        }
      }
    }
  }
}
