@import "../../../../app/variables";

.second_drawer_card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .second_drawer_card_title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h3 {
      @include text-style(var(--main-text-color), 20px, 24px, 700);
    }
    h4 {
      @include text-style(var(--main-text-color), 16px, 24px, 500);
    }
  }
}
