@import "../../../../app/variables";

.services_drawer_header {
  @include text-style(var(--main-text-color), 16px, 24px, 400);
  span {
    margin-left: 8px;
    @include text-style(var(--main-text-color-first), 14px, 24px, 400);
  }
}
.services_drawer_price {
  display: flex;
  gap: 8px;
  p {
    @include text-style(var(--main-text-color), 16px, 24px, 500);
  }
}
