@import "../../app/variables";

.details_check {
  .details_check_schedule {
    border-bottom: solid 1px #eeeff2;
    border-radius: 16px;
  }
  .details_check_form {
    margin-top: 16px;
    border-top: solid 1px #eeeff2;
    border-bottom: solid 1px #eeeff2;
    border-radius: 16px;
    .details_check_form_title {
      margin: 16px 0;
      @include text-style(var(--main-text-color), 18px, 28px, 800);
    }
  }
  :global {
    .ant-drawer {
      outline: none;
      .ant-drawer-content {
        height: 110px !important;
      }
      .ant-drawer-content-wrapper {
        height: 110px !important;
      }
    }
  }
}
