@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --font-family: "Onest", Arial;
  --main-text-color: #121111;
  --main-text-clean: #fff;
  --main-text-color-first: #88919c;
  --danger-text-color: #f00;
  --dark-green-color: #00261e;
  --border-color: #e3e7eb;
  --lgiht-border-color: #E5E7EA;
  font-family: "Onest", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

button,
input,
select {
  border-radius: 0;
  text-align: inherit;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
