@import "../../../app/variables";

.main_character {
  display: flex;
  align-items: center;
  gap: 10px;
  .main_character_items {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h3 {
      @include text-style(var(--main-text-color), 18px, 28px, 700);
    }

    .main_character_items_rate {
      display: flex;
      align-items: center;
      gap: 8px;
      :global {
        .ant-rate {
          font-size: 15px;
          .ant-rate-star {
            margin-inline-end: 4px;
          }
        }
      }
      p {
        @include text-style(var(--main-text-color-first), 12px, 12px, 400);
      }
    }
  }
}
