@import "../../app/variables";

.second_header {
  max-width: 768px;
  padding: 38px 16px 16px 16px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .second_header_back {
    position: absolute;
    left: 16px;
    margin: auto 0;
  }
  .second_header_content {
    height: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    h3 {
      @include text-style(var(--main-text-color), 16px, 24px, 500);
    }
    .second_header_content_select {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
